<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head'); %>
</head>
<body>

<header>
    <%- include('./components/navBar'); %>
    <%- include('./components/header'); %>
</header>

<main>
    <%- include('./components/products'); %>
</main>

<footer>
    <%- include('./components/footer'); %>
</footer>

</body>
</html>